.speech {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
}

.stage_directions{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color:rgb(183, 240, 160);
    color: rgb(231, 147, 147);
}

.name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: rgb(194, 41, 41);
}
.stage-direction:hover {
    background-color: honeydew;
    color:maroon;
}

.LADY_BASILDON{
    color: rgb(145, 78, 223);
}   

.MRS_MARCHMONT{
    color:rgb(34, 158, 180);
}

table,th,td{
    border: 5px solid navy;
    border-color:black;
    text-align: center;
    padding: 13px;
    margin: 25px 50px 75px 100px;
}
  
  tr:nth-child(even) {
    background-color: #8f8686;
  }

  .LADY_BASILDON {
    border-style: solid;
    background-color: rgb(3, 15, 7);
    text-shadow: 3px 3px rgb(233, 227, 227);
}

.MRS_MARCHMONT:hover{
    border-style: solid;
    background-color: rgb(190, 191, 201);
    text-shadow: 3px 3px green;
}

.navbar {
    margin: auto;
    width: 75%;
    background-color: gray;
    border: 3px solid rgb(53, 182, 117);
    padding: 10px;
    display: block;
    text-align: center;
}